body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    background-color: #f4f4f4;
}

h1 {
    color: #2c3e50;
}

button {
    background-color: #3498db;
    border: none;
    color: Green;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
